Repository AdamKuborcik/afp_404, pull requests merged in 2021-03, with the labels that each got.

#14 Uzleti folyamatok
  Funkcionális specifikáció.md
  Követelmény specifikáció.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/component/element/NavBar.js
Labels: Dokumnetáció

#13 Kezdetleges NavBar készítése
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/component/element/NavBar.js
Labels: Frontend, Kód

#19 alap regisztrációs felület készítése #16
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/elements/NavBar.js
  frontend/src/components/elements/_Router.js
  frontend/src/components/views/RegPage.js
Labels: Frontend, Kód

#26 #24 backend bővítve egy elem lekérdezésével
  backend/routes/Book.js
Labels: Backend, Kód

#27 #25 kód bővítése egy adott könyv frissítésével
  backend/routes/Book.js
Labels: Backend, Kód

#28 Login
  .idea/afp_404.iml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
  frontend/src/components/elements/NavBar.js
  frontend/src/components/elements/_Router.js
  frontend/src/components/views/LoginPage.js
Labels: Frontend, Kód

#29 user.js findOne és addOne műveletek hozzáadása #20 #21
  backend/routes/User.js
Labels: Backend, Kód
